<main class="w-full  relative my-14 mb-24 z-0">
    <figure class="w-full h-[90vh] absolute gradient-top flex after:w-full 
    after:absolute after:top-0 after:h-[90vh] after:bg-gradient-to-r after:from-[rgba(15,15,15,1)] 
    after:from-15% after:via-[rgba(15,15,15,.9)] after:via-25% after:to-[rgba(83,200,141,0)] after:to-100% ">
        <img ngSrc="{{'http://image.tmdb.org/t/p/original'+serie()?.backdrop_path}}" fill
            class="w-full h-screen object-cover object-center gradient-top" alt="imagen no disponible">
    </figure>

    <section class="w-full flex pl-36 relative h-[90vh] "(mouseenter)="isSwiperHover=true" 
    (mouseleave)="isSwiperHover=false">

        <swiper-container init="false" class="h-[80vh] w-[50%] z-0 self-center scale" #swiper>
            @for(serie of listSeries()()?.results;track serie?.id;let i=$index){
            <swiper-slide class="z-0 w-52 h-80 mx-4 rounded-md transition-all duration-500 ease-in bg-[#18212b]"
                [class.scale-[2]]="i===indexCurrentElement()" [class.z-40]="i===indexCurrentElement()"
                [class.scale-150]="i===previousIndex() || i===nextIndex()"
                [class.z-30]="i===previousIndex() || i===nextIndex()" [class.translate-y-[40%]]="i===previousIndex()-1"
                [class.-translate-y-[40%]]="i===nextIndex()+1">

                <figure class="w-full h-full  relative cursor-pointer opacity-0 transition-all duration-300 ease-in"
                    [class.opacity-100]="i==indexCurrentElement()"
                    [class.opacity-60]="i==previousIndex() || i===nextIndex()"
                    [class.opacity-40]="i==previousIndex()-1 || i===nextIndex()+1">
                    <img ngSrc="{{'http://image.tmdb.org/t/p/original'+serie.backdrop_path}}" fill #img
                        class="w-full h-full object-cover object-center rounded-md text-white bg-black"
                        alt="imagen no disponible">
                </figure>

            </swiper-slide>

            }
            @if(isLoading()){
            <swiper-slide class="w-52 h-24 mx-4 bg-zinc-700 rounded-md z-20 animate-pulse"
                [class.scale-200]="dataSize===indexCurrentElement()" [class.z-40]="dataSize===indexCurrentElement()"
                [class.scale-150]="dataSize===previousIndex() || dataSize===nextIndex()"
                [class.z-30]="dataSize===previousIndex() || dataSize===nextIndex()"
                [class.translate-y-[40%]]="dataSize===previousIndex()-1"
                [class.-translate-y-[40%]]="dataSize===nextIndex()+1"></swiper-slide>
            }
        </swiper-container>
        <div class="swiper-previous-serie z-10 absolute left-[17%] top-4 w-12 h-12 flex justify-center items-center 
        hover:cursor-pointer ease-in hover:scale-110 text-center text-sm  bg-black/80
        backdrop-blur-sm text-white rounded-full transition-all duration-300 
        cursor-pointer border border-red-900/50" [class.opacity-0]="isBeginning() || !isSwiperHover">
            <i class="fa-solid fa-chevron-up "></i>
        </div>

        <div class="swiper-next-serie z-10 absolute left-[17%] bottom-4 w-12 h-12
        flex justify-center items-center hover:cursor-pointer ease-in 
        hover:scale-110 text-center text-sm  bg-black/80
            backdrop-blur-sm text-white rounded-full transition-all duration-300 cursor-pointer border border-red-900/50"
            [class.opacity-0]="isEnd() || !isSwiperHover">
            <i class="fa-solid fa-chevron-down"></i>
        </div>

        @if(serie()){
        <div class="pb-4 text-white flex z-10 w-full md:px-12 justify-start">
            <header class="flex flex-col justify-end w-full" >
                <h1 class="font-racing uppercase text-3xl text-left sm:text-4xl lg:text-5xl">{{serie()?.name}}</h1>

                <section class="flex gap-6 pt-4">

                    <app-rating class="flex" [rating]="serie()?.vote_average"></app-rating>

                    <div class="flex items-center gap-2">
                        <svg class="w-5 h-5 text-red-300" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                            stroke-width="2">
                            <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                            <circle cx="9" cy="7" r="4"></circle>
                            <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                            <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                        </svg>
                        <span>{{ serie()?.number_of_seasons }} temporadas, {{ serie()?.number_of_episodes }}
                            episodios</span>
                    </div>
                </section>

                @if ((serie()?.genres?.length ?? 0) > 0) {
                <article class="flex gap-2 pt-4">
                    <p class="text-[#e50914] pr-4">Generos </p>
                    @for(genre of serie()?.genres;track genre.id){
                    <span class="bg-red-600/30 text-red-200 px-3 py-1 rounded-full text-sm">
                        {{ genre.name }}
                    </span>
                    }
                </article>
                }

                <article class="flex pt-2 ">
                    <p class="text-[#e50914] pr-4">Primera fecha al aire </p>
                    <p class="px-2">{{serie()?.first_air_date|date:'longDate'}}</p>
                </article>

                <article class="flex pt-2">
                    <p class="text-[#e50914] pr-4">Última fecha al aire </p>
                    <p class="px-2">{{serie()?.last_air_date|date:'longDate'}}</p>
                </article>

                <a routerLink="/details-serie/{{serie()?.id}}" class="border border-white rounded-xl px-4 py-0.5 text-sm  flex items-center 
                   transition-all transform hover:scale-110 
                gap-2 hover:border-[#e50914] hover:text-[#e50914] cursor-pointer w-52 mt-4 text-white">
                    <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20" height="20"
                        fill="none" stroke="currentColor" stroke-width="40">
                        <circle cx="256" cy="256" r="216" />
                        <line x1="256" y1="220" x2="256" y2="352" stroke-linecap="round" />
                        <circle cx="256" cy="144" r="30" fill="currentColor" stroke="none" />
                    </svg>
                    <span>MÁS INFORMACIÓN </span>
                </a>

            </header>
        </div>
        }
    </section>
    
    @if(!serie()){
    <app-skeleton class=" absolute top-0 left-0 w-full h-[90vh]" [hasSlides]="false" @fade></app-skeleton>
    }

</main>