<main class="card-base-movie group" (mouseenter)="handleMouseEnterCard()" 
(mouseleave)="handleMouseLeaveCard()" #movieCard>
    <figure class="relative w-full h-48">
        <img [ngSrc]="movie().backdrop_path | autoImage : 'wide'" fill class="card-image">
        @if(movie().vote_average){
            <figcaption class="badge-vote">
                <app-icon name="star" color="text-red-500" backgroundColor="fill-red-500"> </app-icon>
                <span class="badge-text">{{ movie().vote_average | number:'1.1-1' :'en-US'}}</span>
            </figcaption>
         }
    </figure>
   
    <section class="p-4">

        <header>
            @if(movie().title){
                <h2 class="text-title-card">{{ movie().title }}</h2>
            }
            @if (movie().genres.length > 0) {
                <span class="text-genre-card">{{movie().genres[0].name}}</span>
            }
        </header>
        <div class="flex items-center gap-4 text-info-card py-2">
            <span>{{movie().release_date | date:'longDate'}}</span>

            <div class="flex items-center gap-2">
                <app-icon name="clock" size="w-4 h-4" color="text-gray-400"></app-icon>
                <span>{{movie().runtime | minutesToTime}}</span>
            </div>
        </div>
        <div class="card-hover-overlay" >
            <p class="text-overview-card">
                {{movie().overview}}
            </p>
            <div class="flex gap-2 transition-all duration-500 pt-2">
                <a routerLink="/watch-movie/{{movie().id}}" class="btn-primary">
                    Ver ahora
                </a>
                <a class="btn-secondary">
                    <app-icon name="plus" size="w-6 h-6"></app-icon> 
                </a>
                <a routerLink="/details-movie/{{movie().id}}" class="btn-icon">
                    <app-icon name="info"></app-icon>
                </a>
            </div>
        </div>
    </section>
</main>

<app-play-trailer-embeed class="opacity-0 w-80 h-48" [size]="[320,192]" (isEnded)="closeTrailerPlayer()"
    [isMovie]="true"></app-play-trailer-embeed>