<main role="status" aria-live="assertive" class=" w-auto overflow-x-hidden mb-12">
    @if(hasHeader()){
        <header class="mb-2" [style.padding.px]="padding()" >
            <div class="h-6 w-64 bg-zinc-700 rounded mb-1 animate-pulse"></div>
            <div class="h-1 bg-zinc-700 rounded-full w-32 animate-pulse"></div>
        </header>
    }

    <section 
        class="flex grow-0 overflow-hidden h-80 pb-1" 
        role="status"
        aria-label="Cargando películas"
        aria-live="polite"
        [style.padding-left.px]="padding()" 
        [style.padding-right.px]="padding()" 
        [style.gap.px]="slides().spaceBetween()">

        @for(_ of slides().skeletonSlideIndexes(); track $index) {
            <section class="relative shadow-lg flex-none flex flex-col rounded-2xl animate-pulse w-80">

                <figure class="relative w-full h-48 bg-zinc-700 rounded-t-2xl"></figure>

                <div class="absolute top-4 right-4 bg-black/80 backdrop-blur-sm rounded-full px-3 py-1 flex items-center gap-1 border border-red-900/30">
                    <div class="w-4 h-4 bg-zinc-600 rounded-full"></div>
                    <div class="w-8 h-4 bg-zinc-600 rounded"></div>
                </div>

                <section class="p-4 space-y-3 bg-black rounded-b-2xl">
                    <div class="h-6 w-3/4 bg-zinc-600 rounded"></div>

                    <div class="h-4 w-20 bg-zinc-600 rounded"></div>

                    <div class="flex items-center gap-4 text-gray-400 text-sm py-2">
                    <div class="h-4 w-32 bg-zinc-600 rounded"></div>
                    <div class="h-4 w-16 bg-zinc-600 rounded"></div>
                    </div>
                </section>
            </section>
        } 

    </section>

</main>