<main appBackgroundNavScroll>
  <app-empty 
        title="No hay series disponibles" 
        subtitle="Vuelve más tarde para ver nuevas series"
        [signals]="[onTheAir,popularSeries]">
  </app-empty>

  @defer(when onTheAir()){
    <app-banner-series [listSeries]="onTheAir" @fade> </app-banner-series>
  }@placeholder{
    <app-skeleton [hasSlides]="true" @fade></app-skeleton>
  }

  @defer(when popularSeries()){
    <section 
      role="feed"
      aria-label="Series populares"
      [attr.aria-busy]="dataLoaderManager.isFetchingMoreData()"
      class="flex flex-col gap-4 justify-around mb-16" 
      [style.padding.px]="slides.spaceBetween()"
      infiniteScroll
      [infiniteScrollDistance]="scrollConfig.SCROLL_CONFIG.distance" 
      [infiniteScrollThrottle]="scrollConfig.SCROLL_CONFIG.throttle"
      (scrolled)="dataLoaderManager.loadMoreData(popularSeries)">
      
      @for (chunk of gridHelper.getChunks(popularSeries,slides.slidesPerView());
       track gridHelper.trackByChunk(chunk)) {
        <div 
          class="flex justify-around overflow-x-auto hide-scrollbar scroll-smooth" @fade
          [style.gap.px]="slides.spaceBetween()">
          
          @for (serie of chunk; track serie.id) {
            <app-card-serie 
              [serie]="serie" 
              (hoverEnter)="gridHelper.handleCardHover($event, slides)"
              (hoverLeave)="gridHelper.resetCardHover($event)"
              @fade>
            </app-card-serie>
          }
          <div class="shrink-0" [style.width.px]="slides.expandedSlideWidth()"></div>
        </div>
      }

      @if(dataLoaderManager.isFetchingMoreData()){
        <div class="flex" [style.gap.px]="slides.spaceBetween()" @fade>
          @for(skeleton of slides.skeletonSlideIndexes();track skeleton){
            <app-card-serie-skeleton @fade></app-card-serie-skeleton>
          }
        </div>
      }
    </section>
  }@placeholder{
    <app-carousel-series-skeleton @fade></app-carousel-series-skeleton>
  }
</main>