<main appBackgroundNavScroll>
  @defer(when onTheAir()){
    <app-banner-series [listSeries]="onTheAir"
      (requestMoreData)="api.getMoreData(this.api.getOnTheAirSeries.bind(this.api),onTheAir)" @fade>
    </app-banner-series>
  }@placeholder{
    <app-skeleton [hasSlides]="true" @fade></app-skeleton>
  }

  @defer(when popularSeries()){
    <section class="flex flex-col gap-4 p-[42px] justify-around mb-16" infiniteScroll [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="300" (scrolled)="loadMoreOnScroll()">
      @for (chunk of chunks(); track chunk[0].id) {
        <div class="flex justify-around gap-[42px]  overflow-x-auto hide-scrollbar scroll-smooth" @fade>
          @for (serie of chunk; track serie.id;let i=$index;) {
          <app-card-serie [serie]="serie" (mouseenter)="handleMouseEnterCardSerie($event,i)"
            (mouseleave)="handleMouseLeaveCardSerie($event)"></app-card-serie>
          }
          <div class="w-[806px] shrink-0"></div>
        </div>
      }
      @if(isLoading()){
        <div class="flex gap-[42px]" @fade>
          @for(skeleton of slides.skeletonSlideIndexes();track skeleton){
          <app-card-serie-skeleton @fade></app-card-serie-skeleton>
          }
        </div>
      }
    </section>
  }@placeholder{
    <app-carousel-series-skeleton @fade></app-carousel-series-skeleton>
  }
</main>