<section class="z-0 w-full h-[150vh] justify-center self-center absolute ">
   
    <swiper-container init="false" class="h-screen" #swiper>
        @for(movie of movieList()()?.results;track movie?.id){
        <swiper-slide
            class="w-full h-screen relative gradient after:w-full 
                    after:absolute after:top-0 after:h-screen after:bg-linear-to-r after:from-black 
                    after:from-15% after:via-[rgba(15,15,15,.9)] after:via-50% after:to-[rgba(83,200,141,0)] after:to-100% "
            @fade>
            <img ngSrc="{{'http://image.tmdb.org/t/p/original'+movie.backdrop_path}}" fill #img
                class="object-cover object-center gradient">
        </swiper-slide>
        }

        @if(isLoading()){
        <swiper-slide class="w-full h-full">
            <app-banner-skeleton @fade></app-banner-skeleton>
        </swiper-slide>
        }
    </swiper-container>

</section>