<main class="w-full">

    <section class="z-0 w-full h-[150vh] justify-center self-center absolute ">
        <swiper-container init="false" class="h-screen" #swiper>
            @for(movie of movieList()()?.results;track movie?.id){
                <swiper-slide
                    class="w-full h-screen relative gradient after:w-full 
                    after:absolute after:top-0 after:h-screen after:bg-linear-to-r after:from-black 
                    after:from-15% after:via-[rgba(15,15,15,.9)] after:via-50% after:to-[rgba(83,200,141,0)] after:to-100% " @fade>
                    <img ngSrc="{{'http://image.tmdb.org/t/p/original'+movie.backdrop_path}}" fill #img
                        class="object-cover object-center gradient">
                </swiper-slide>
            }

            @if(dataLoaderManager.isFetchingMoreData()){
                <swiper-slide class="w-full h-full">
                    <app-banner-skeleton @fade></app-banner-skeleton>
                </swiper-slide>
            }
        </swiper-container>
    </section>

   
    <section class="text-white flex flex-wrap flex-row md:py-12 relative w-full h-screen mb-24 pl-12"
        (mouseenter)="isSwiperHover=true" (mouseleave)="isSwiperHover=false">

        <button class="w-8 self-center transition-all duration-300 "
            [class.opacity-0]="isBeginning() || !isSwiperHover || dataLoaderManager.isFetchingMoreData()">
            <i class="fa-solid fa-chevron-left  hover:cursor-pointer rounded-full
        text-center text-base transition-all ease-in hover:text-xl swiper-previous"></i>
        </button>

        @if(movie()){
            <header class="sm:max-w-[40%] px-4 md:px-12 relative self-center ml-12" [class.ml-20]="isBeginning()">
                <h1 class="font-racing uppercase text-3xl text-left sm:text-4xl lg:text-5xl relative" id="title">
                    {{movie()?.title}}
                </h1>
                <article class="flex pt-4 gap-6" id="release">
                    <app-rating class="flex left-[-150%]" [rating]="movie()?.vote_average" id="rating"></app-rating>

                    <div class="flex items-center gap-2">
                        <svg class="w-5 h-5 text-red-300" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                            stroke-width="2">
                            <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                            <line x1="16" y1="2" x2="16" y2="6"></line>
                            <line x1="8" y1="2" x2="8" y2="6"></line>
                            <line x1="3" y1="10" x2="21" y2="10"></line>
                        </svg>
                        <p class="font-racing text-lg ">{{movie()?.release_date|date:'yyyy'}}</p>
                    </div>

                    <div class="flex items-center gap-2 -mt-1">
                        <svg class="w-5 h-5 text-red-300" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                            stroke-width="2">
                            <circle cx="12" cy="12" r="10"></circle>
                            <polyline points="12,6 12,12 16,14"></polyline>
                        </svg>
                        <span class="font-racing text-lg ">{{movie()?.runtime | minutesToTime}}</span>
                    </div>
                </article>

                <article class="flex pt-4  flex-wrap gap-2 " id="genres">

                    @for(genre of movie()?.genres;track genre.id){
                    <span class="bg-red-600/30 text-red-200 px-3 py-1 rounded-full text-sm">
                        {{ genre.name }}
                    </span>

                    }
                </article>

                <p class=" pt-2 text-justify max-h-[20vh] line-clamp-5" id="overview">{{movie()?.overview}}</p>

                <section class="flex justify-start gap-4 " id="buttons">
                    <button class="bg-gradient-to-r from-red-600 to-red-800 px-4 rounded-md font-racing text-lg  my-4 h-12
                    hover:from-red-700 hover:to-red-900 hover:shadow-lg hover:shadow-red-500/25
                    transition-all duration-300 ease-in cursor-pointer" (click)="playTrailer()"
                        [ngClass]="{'bg-zinc-800 bg-none pointer-events-none':movie()?.videos?.results?.length==0}">
                        <i class="fa-solid fa-film"></i>&nbsp; &nbsp;Trailer
                    </button>
                    <a routerLink="/details-movie/{{movie()?.id}}" class="bg-gradient-to-r from-neutral-50 to-red-50 text-[#f80000]  px-4 rounded-md 
                        font-racing text-lg my-4 h-12 hover:from-neutral-100 hover:to-red-100 hover:shadow-lg
                        hover:shadow-red-500/25 transition-all ease-in duration-300 cursor-pointer flex gap-2 
                        justify-center items-center ">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20" height="20" fill="none"
                            stroke="currentColor" stroke-width="64">
                            <circle cx="256" cy="256" r="216" />
                            <line x1="256" y1="220" x2="256" y2="352" stroke-linecap="round" />
                            <circle cx="256" cy="144" r="36" fill="currentColor" stroke="none" />
                        </svg>
                        <span>Más información</span>
                    </a>

                    <div class="p-3 rounded-full border-2 border-white/30 text-white my-4
                    hover:border-red-500 hover:text-red-500
                        transition-all transform hover:scale-110">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <line x1="12" y1="5" x2="12" y2="19"></line>
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                        </svg>

                    </div>

                </section>
            </header>

            <div class="grow text-center self-center flex justify-center">
                <a routerLink="/watch-movie/{{movie()?.id}}">
                    
                    <svg class="self-center  w-16 h-16 text-white transition-all ease-in-out duration-300
                    hover:scale-110 hover:text-red-500" width="100" height="100" viewBox="0 0 100 100"
                        xmlns="http://www.w3.org/2000/svg">
                        <circle cx="50" cy="50" r="45" fill="none" stroke="currentColor" stroke-width="2" />

                        <!-- Triángulo de play -->
                        <polygon points="40,35 40,65 70,50" fill="currentColor" />

                    </svg>
                </a>

            </div>
        }

        <button class="m-12 w-8 self-center  text-righttransition-all duration-300 "
            [class.opacity-0]="isEnd() || !isSwiperHover">
            <i class="fa-solid fa-chevron-right hover:cursor-pointer rounded-full 
        text-center text-base transition-all ease-in hover:text-xl swiper-next"></i>
        </button>

    </section>
    
</main>