<main class="relative shadow-lg  flex flex-col rounded-2xl animate-pulse w-80">

  <figure class="relative w-full h-48 bg-zinc-700 rounded-t-2xl"></figure>

  <div class="absolute top-4 right-4 bg-black/80 backdrop-blur-sm rounded-full px-3 py-1 flex items-center gap-1 border border-red-900/30">
    <div class="w-4 h-4 bg-zinc-600 rounded-full"></div>
    <div class="w-8 h-4 bg-zinc-600 rounded"></div>
  </div>

  <section class="p-4 space-y-3 bg-black rounded-b-2xl">
    <div class="h-6 w-3/4 bg-zinc-600 rounded"></div>

    <div class="h-4 w-20 bg-zinc-600 rounded"></div>

    <div class="flex items-center gap-4 text-gray-400 text-sm py-2">
      <div class="h-4 w-32 bg-zinc-600 rounded"></div>
      <div class="h-4 w-16 bg-zinc-600 rounded"></div>
    </div>
  </section>
</main>
