<main class=" w-auto overflow-x-hidden mb-12">
    @if(hasHeader()){
        <header class="mb-2" [style.padding.px]="padding()" >
            <div class="h-6 w-64 bg-zinc-700 rounded mb-1 animate-pulse"></div>
            <div class="h-1 bg-zinc-700 rounded-full w-32 animate-pulse"></div>
        </header>
    }

    <section 
        class="flex grow-0 overflow-hidden h-80 pb-1" 
        role="status"
        aria-label="Cargando películas"
        aria-live="polite"
        [style.padding-left.px]="padding()" 
        [style.padding-right.px]="padding()" 
        [style.gap.px]="slides().spaceBetween()">

        @for(_ of slides().skeletonSlideIndexes(); track $index) {
            <app-card-movie-skeleton @fade></app-card-movie-skeleton>
        }

    </section>

</main>