@if (carouselService.dataLoaderManager.hasData()) {
    <main class=" w-full mb-8">
        <header class="mb-2" [style.padding.px]="slidesInfo.spaceBetween()">
            <h2 class="text-title-carousel"> {{title()}}</h2>
        </header>

        <section class="relative">
            <app-carousel-navigation [carouselService]="carouselService"></app-carousel-navigation>
            
            <div cdkScrollable #carousel class="carousel-container"
                [style.gap.px]="slidesInfo.spaceBetween()"
                [style.padding-left.px]="slidesInfo.spaceBetween()" 
                [style.padding-right.px]="slidesInfo.spaceBetween() + slidesInfo.expandedSlideWidth()" >
                @for(serie of carouselService.dataLoaderManager.data(); track serie.id; let i = $index){

                <div class="carousel-item">
                    <app-card-serie @fade
                        [slideInfo]="slidesInfo" 
                        [serie]="serie"
                        [activeIndex]="carouselService.activeIndex()"
                        [cardIndex]="i"
                        (hoverEnter)="onSlideExpandHover(i)"
                        (hoverLeave)="onSlideCollapseHover()">
                    </app-card-serie>
                </div>
                }
                
                @if(carouselService.dataLoaderManager.canLoadMore()){
                    @for(_ of slidesInfo.skeletonSlideIndexes(); track $index) {
                        <div class="carousel-item"  @fade>
                            <app-carousel-series-skeleton 
                                [slidesInfo]="slidesInfo" 
                                [hasHeader]="false" 
                                [insideCarousel]="true">
                            </app-carousel-series-skeleton>
                        </div>
                    }
                }
            </div>
        </section>
    </main>
}
@else if(carouselService.dataLoaderManager.isInitialLoading()){
 <app-carousel-series-skeleton [slidesInfo]="slidesInfo" @fade></app-carousel-series-skeleton>
}