@if (loader.hasData()) {
    <main class=" w-full mb-16">
        <header class="mb-6" [style.padding-left.px]="carouselService.slidesInfo.layout().edgeOffset">
            <span class="text-subtitle-carousel">{{subtitle()}}</span>
             <h2 class="text-title-carousel">{{title()}}</h2>
        </header>

        <section 
            [attr.aria-label]="title() + ' carousel'" 
            role="region" 
            class=" relative">

            <app-carousel-navigation [carouselService]="carouselService"></app-carousel-navigation>
            
            <div cdkScrollable #carousel class="carousel-container"
                [style.gap.px]="carouselService.slidesInfo.layout().spaceBetween"
                [style.padding-left.px]="carouselService.slidesInfo.layout().edgeOffset" 
                [style.padding-right.px]="carouselService.slidesInfo.layout().edgeOffset ">

                @for(serie of loader.data(); track serie.id; let i = $index){
                    <div class="carousel-item" @fade>
                        <app-card-serie 
                            [slideInfo]="carouselService.slidesInfo" 
                            [serie]="serie"
                            [activeIndex]="carouselService.state().activeIndex()"
                            [cardIndex]="i"
                            (hoverEnter)="onSlideExpandHover(i)"
                            (hoverLeave)="onSlideCollapseHover()">
                        </app-card-serie>
                    </div>
                }
                
                @if(canLoadMore()){
                    @for(_ of carouselService.slidesInfo.skeletonSlideIndexes(); track $index) {
                        <div class="carousel-item w-full"  @fade #sentinels
                        [style.width.px]="carouselService.slidesInfo.layout().slideMainAxisSize"
                        [style.height.px]="carouselService.slidesInfo.layout().slideMainAxisSize * 1.5">
                            <app-carousel-series-skeleton 
                                [hasHeader]="false" 
                                [insideCarousel]="true">
                            </app-carousel-series-skeleton>
                        </div>
                    }
                }
                <div class="carousel-item" [style.width.px]="carouselService.slidesInfo.layout().expandedSlideSize + 
                carouselService.slidesInfo.layout().spaceBetween"></div>
            </div>
        </section>
    </main>
}
@else if(loader.isInitialized()){
 <app-carousel-series-skeleton  @fade></app-carousel-series-skeleton>
}