<main class=" w-full bg-[#0f0f0f] pb-8" #main>
    <header class="px-6 text-white text-2xl">
        <p class=" font-racing">Películas {{title()}}</p>
    </header>

    <section class="relative">
        <button class=" group ml-6 w-8 h-32 z-50 absolute left-0 top-1/4 text-white bg-[rgba(0,5,13,.5)] 
    flex items-center justify-center rounded-tr-lg rounded-br-lg swiper-previous-{{title()}} cursor-pointer"
    [hidden]="isBeginning()">
            <i class="fa-solid fa-chevron-left text-base transition-all ease-in delay-200 group-hover:text-xl "></i>
    </button>

        <swiper-container init="false" class="w-full px-5 h-60 z-0 relative" #swiper>

            @for(movie of listMovies()?.results;track movie;let i = $index){
            <swiper-slide (mouseenter)="mouseEnter(i)" (mouseleave)="mouseLeave(i)"
                class="z-0 w-80 py-6 px-0.5 transition-transform duration-300 hover:scale-125 hover:z-20 "
                [ngClass]="{'origin-left':(i+gap)% numSlides==0,'origin-right':(i+gap)% numSlides==numSlides-1}">

                <section class="h-48 shadow-xs shadow-white relative" [class.rounded-t-md]="hoverStates[i]"
                    [class.rounded-md]="!hoverStates[i]">

                   <!--  @if(movie.videos.results.length>0){ -->
                    <!-- <div class="rounded-t-md absolute z-10 cursor-pointer" [ngClass]="{'opacity-0 ':!hoverStates[i],
                'opacity-100 transition-opacity ease-in duration-500 delay-[3S]':hoverStates[i]}"
                        (click)="redirectDetailsMovie(i)">

                        <div class="rounded-t-md pointer-events-none" id="{{title()}}{{i}}"></div>
                        <i class=" fa solid cursor-pointer hover:scale-110 rounded-full bg-neutral-800/80 
                    text-white p-3 w-10 h-10 mr-1.5 transition-transform duration-300 hover:bg-white 
                    hover:text-black absolute z-20 bottom-0 right-[3%]" (click)="changeMuted(i,$event)"
                            [ngClass]="{'fa-volume-xmark':mutedStates[i], 'fa-volume-high':!mutedStates[i]}"></i>
                    </div> -->
                    <app-play-trailer-embeed [title]="title()" [index]="i" [id]="movie.id" 
                    [hoverState]="hoverStates[i]"></app-play-trailer-embeed>
                    <!-- } -->

                    <figure class="w-full h-48 relative cursor-pointer" [class.rounded-t-md]="hoverStates[i]"
                        [class.rounded-b-none]="hoverStates[i]" [class.rounded-md]="!hoverStates[i]"
                        (click)="trailerEmbeed.redirectDetailsMovie(movie.id)">
                        <img ngSrc="{{'http://image.tmdb.org/t/p/original'+movie.backdrop_path}}" fill #img
                            class="object-cover object-center text-white bg-black" alt="imagen no disponible"
                            [class.rounded-t-md]="hoverStates[i]" [class.rounded-b-none]="hoverStates[i]"
                            [class.rounded-md]="!hoverStates[i]">

                        @if(!hoverStates[i]){
                        <figcaption class="p-4 text-white absolute  flex flex-col justify-end z-10 w-full h-full
                        bg-linear-to-t from-[rgba(0,0,0,1)] from-0% via-[rgba(20,20,20,0.8)] via-35% 
                        to-[rgba(83,200,141,0)] to-100% rounded-md">
                            <h1 class="font-racing text-lg">{{movie.title}}</h1>
                            <p class="font-roboto text-[12px]">{{movie.release_date | date:'longDate'}}</p>
                        </figcaption>
                        }
                    </figure>

                    <article class="text-white p-4 bg-black z-50 rounded-b-md shadow-xs shadow-white"
                        [hidden]="!hoverStates[i]">
                        <header class="flex flex-col justify-end text-[12px]">
                            <h1 class="font-racing text-lg">{{movie.title}}</h1>
                            <div class="flex items-center">
                                <p class="font-roboto ">{{movie.release_date | date:'longDate'}} &nbsp;&nbsp;&nbsp;</p>
                                @if(movie.runtime>0){
                                <p class="font-roboto">Duración {{movie.runtime}} minutos&nbsp;</p>
                                <i class="fa-solid fa-clock"></i>
                                }
                                @else{
                                <p class="font-roboto">video no disponible</p>
                                }
                            </div>
                            <div class="text-[16px] py-2">
                                <i class="fa-solid fa-plus cursor-pointer hover:scale-110 rounded-full bg-neutral-700 
                            text-white p-3 w-10 h-10 mr-1.5 transition-transform duration-300 hover:bg-white 
                            hover:text-black"></i>
                                @if(movie.videos.results.length>0){
                                <i class="fa-solid fa-film cursor-pointer hover:scale-110 rounded-full bg-neutral-700 
                                text-white p-3 w-10 h-10 ml-1.5 transition-transform duration-300 hover:bg-white 
                                hover:text-black" (click)="playTrailer(i)"></i>
                                }
                            </div>
                        </header>

                        <p class="font-roboto text-[12px] text-justify max-h-[15vh] w-full line-clamp-5">
                            {{movie.overview}}
                        </p>

                    </article>

                </section>
            </swiper-slide>
            }
        </swiper-container>

        <button class="group mr-6 w-8 h-32 z-50 absolute right-0 top-1/4 text-white bg-[rgba(0,5,13,.5)] 
    flex items-center justify-center rounded-tl-lg rounded-bl-lg swiper-next-{{title()}} cursor-pointer"
    [hidden]="isEnd()">
            <i class="fa-solid fa-chevron-right text-base  group-hover:scale-125 "></i>
    </button>

    </section>

</main>