<main class=" w-full bg-[#0f0f0f] pb-8 relative" #main>
    <header class="p-6 text-white text-2xl">
        <p class=" font-racing">Series {{title()}}</p>
    </header>

    <section class="relative">
        <button class=" group w-8 h-52 z-50 absolute left-0 top-1/4 text-white bg-[rgba(0,5,13,.5)] 
    flex items-center justify-center rounded-tr-lg rounded-br-lg swiper-previous-{{title()}} cursor-pointer"
            [class.opacity-0]="isBeginning()">
            <i class="fa-solid fa-chevron-left text-base transition-all ease-in delay-200 group-hover:text-xl "></i>
        </button>

        <swiper-container init="false" navigation="true" class="w-full z-0 relative" #swiper>

            @for(serie of listSeries()()?.results;track serie;let i = $index){
            <swiper-slide (mouseenter)="mouseEnter(i)" (mouseleave)="mouseLeave(i)" class="z-0 w-72 h-[29rem]" @fade>



                <figure class="h-full absolute cursor-pointer opaque w-72">
                    <img ngSrc="{{'http://image.tmdb.org/t/p/original'+serie.poster_path}}" fill #img
                        class="object-cover object-center text-white bg-black rounded-xl">
                </figure>

                <figure class="w-full h-full relative cursor-pointer opaque opacity-0">
                    <div class="w-full h-full absolute">
                        <img ngSrc="{{'http://image.tmdb.org/t/p/original'+serie.backdrop_path}}" fill #img
                            class="object-cover object-center text-white bg-black aspect-auto rounded-xl"
                            alt="imagen no disponible">
                    </div>
                    <figcaption class="pl-4 text-white absolute flex flex-col justify-end z-50 w-full h-[29rem]
                            bg-linear-to-r from-[rgba(0,0,0,1)] from-0% via-[rgba(20,20,20,0.7)] via-35% 
                            to-transparent to-100% rounded-xl">
                        <h1 class="font-racing text-3xl">{{serie.name}}</h1>

                        <div class="text-2xl py-4 pb-16">
                            <button class="cursor-pointer hover:scale-110 rounded-lg bg-neutral-700
                        text-white p-3 w-32 h-14 transition-transform duration-300 hover:bg-white 
                        hover:text-black">mas info</button>

                            <i class="fa-solid fa-plus cursor-pointer hover:scale-110 rounded-full bg-neutral-700 
                        text-white p-4 w-14 h-14 ml-4 transition-transform duration-300 hover:bg-white 
                        hover:text-black"></i>


                        </div>
                        <!--  <img ngSrc="{{'http://image.tmdb.org/t/p/original'+serie.images.logos[0].file_path}}"
                            class="rounded-md object-cover w-" alt="imagen no disponible" fill> -->
                    </figcaption>

                </figure>
            </swiper-slide>
            }

            @if(isLoading()){
            @for(loading of slidesLoading;track loading){
            <swiper-slide class="w-72 h-[29rem]">
                <app-slide-skeleton [hasMargin]="false" @fade></app-slide-skeleton>
            </swiper-slide>
            }
            }
        </swiper-container>

        <button class="group w-8 h-52 z-50 absolute right-0 top-1/4 text-white bg-[rgba(0,5,13,.5)] 
    flex items-center justify-center rounded-tl-lg rounded-bl-lg swiper-next-{{title()}} cursor-pointer"
            [class.opacity-0]="isEnd()">
            <i class="fa-solid fa-chevron-right text-base  group-hover:scale-125 "></i>
        </button>

    </section>



</main>