<main class="card-base-movie group" (mouseenter)="handleMouseEnterCard()" 
(mouseleave)="handleMouseLeaveCard()" #movieCard>

    <figure class="relative w-full h-48 rounded-t-2xl overflow-hidden">
        <ng-template cdkPortalOutlet></ng-template>
        
        <img [ngSrc]="movie().backdrop_path | autoImage : 'wide'" fill 
        class="card-image" loading="lazy" [alt]="movie().title">
        
        @if(movie().vote_average){
            <figcaption class="badge-vote">
                <app-icon name="star" color="text-red-500" backgroundColor="fill-red-500"> </app-icon>
                <span class="badge-text">{{ movie().vote_average | number:'1.1-1' :'en-US'}}</span>
            </figcaption>
         }
    </figure>
   
    <section class="p-4 pt-2">

        <header>
            @if(movie().title){
                <h2 class="text-title-card">{{ movie().title }}</h2>
            }
            @if (hasGenres()) {
                <span class="text-genre-card">{{primaryGenre()}}</span>
            }
            
            <div class="flex flex-wrap items-center gap-4 text-info-card py-1">
            @if(movie().release_date){
                <span>{{movie().release_date | date:'longDate'}}</span>
            }
           <!--  @if(movie().runtime){
                <div class="flex items-center gap-2">
                    <app-icon name="clock" size="w-4 h-4" color="text-gray-400"></app-icon>
                    <span>{{movie().runtime | minutesToTime}}</span>
                </div>
            } -->
        </div>
        </header>
        
        <div class="card-hover-overlay">
            @if(movie().overview){
                <p class="text-overview-card">
                    {{movie().overview}}
                </p>
            }
            <div class="flex gap-2 transition-all duration-500 pt-3 text-white">
                <a [routerLink]="['/watch-movie/',movie().id]" class="btn-primary px-6 flex-1">
                    <app-icon name="play"></app-icon>
                    Ver ahora
                </a>
                <a class="btn-primary p-2">
                    <app-icon name="plus"></app-icon> 
                </a>
                <a [routerLink]="['/details-movie/',movie().id]" class="btn-primary p-2">
                    <app-icon name="info"></app-icon>
                </a>
            </div>
        </div>
    </section>
</main>
