<main appHoverSerieExpand [slideInfo]="slideInfo()" [serie]="serie()" [activeIndex]="activeIndex()"
    [cardIndex]="cardIndex()" (expanded)="hoverEnter.emit($event)" (collapse)="hoverLeave.emit($event)"
    class="relative rounded-xl overflow-hidden bg-black " 
    [style.width.px]="slideInfo().layout().slideMainAxisSize"
    [style.height.px]=" slideInfo().layout().slideMainAxisSize * 1.5" >

    <figure class="h-full absolute w-full" #posterImage>
        <img [ngSrc]="serie().poster_path | autoImage : 'poster'" fill 
            class="card-image" loading="lazy" [alt]="serie().name">
    </figure>

    <figure class="w-full h-full relative opacity-0" #backdropImage>
        
        <img [ngSrc]="serie().backdrop_path | autoImage : 'backdrop-wide'" fill 
            class="card-image" loading="lazy" [alt]="serie().name">
        
        <figcaption class="overlay-serie">
            <img class="title" [src]="serie().external_ids?.imdb_id | autoImage:'logo'" 
                        [alt]="serie().name">

            <div class="text-lg font-racing py-4 pb-16 flex gap-6">
                <a [routerLink]="['/details-serie/',serie().id]" class="btn-primary px-6" >
                    <app-icon name="info"></app-icon>
                    <span>Más información</span>
                </a>

                <div class="btn-primary p-4">
                    <app-icon name="plus"> </app-icon>
                </div>
            </div>
        </figcaption>
        <ng-template #portal cdkPortalOutlet ></ng-template>
    </figure>

    @if(serie().vote_average){
        <div class="badge-vote">
            <app-icon name="star" color="text-red-500" backgroundColor="fill-red-500"> </app-icon>
            <span class="badge-text">{{ serie().vote_average | number:'1.1-1' :'en-US'}}</span>
        </div>
    }
</main>


