<div class="player-frame" #trailer>

  <div class="frame-player-buttons">
    @if(svc.minimized()){
      <i (click)="svc.maximize()" class="fa-solid fa-maximize player-button"></i>
    }
    <i (click)="svc.hideTrailer()" class="fa-solid fa-xmark player-button"></i>
  </div>

  @if(!hasError()){
    <youtube-player 
      [videoId]="videoKey()" 
      [playerVars]="playerVars" 
      suggestedQuality="hd720" 
      (error)="onPlayerError($event)"
      class="player">
    </youtube-player>
  }@else {
    <div class="w-full h-full bg-black flex justify-center items-center text-xl">
      <i class="fa-solid fa-exclamation-triangle text-yellow-500"></i>
      <p class="px-2 text-white">Unable to load video</p>
    </div>
  }

  
</div>