<main class=" w-full  mb-12">
    <header class="p-6 mb-2">
        <h2 class="text-title">{{title()}}</h2>
    </header>

    <section class="relative" (mouseenter)="swiperHelper.setHoverState(true)" 
    (mouseleave)="swiperHelper.setHoverState(false)">

        <swiper-container init="false" class="w-full h-80  z-0 relative" #swiper>
            @for(movie of movieList()?.results;track movie.id;let i = $index;){
                <swiper-slide class="w-80 overflow-visible" @fade>
                    <app-card-movie [movie]="movie"
                        class="relative z-0 w-80 transition-transform duration-300 hover:scale-125 hover:z-20"
                        [ngClass]="{'origin-left':i % slides.slidesPerView()==0,
                        'origin-right':i % slides.slidesPerView() == slides.slidesPerView() - 1}">
                    </app-card-movie>
                </swiper-slide>
            }

            @if(swiperHelper.isFetchingMoreData()){
                @for(skeleton of slides.skeletonSlideIndexes();track skeleton){
                    <swiper-slide class="w-80 h-80 overflow-visible">
                        <app-card-movie-skeleton [hasMargin]="false" @fade></app-card-movie-skeleton>
                    </swiper-slide>
                }
            }
        </swiper-container>

        <button type="button" (click)="swiperHelper.goToPrevSlide()" class="btn-navigation btn-navigation-prev"
            [class.opacity-0]="swiperHelper?.atCarouselStart() || !swiperHelper.isHoveredOverCarousel">
            <i class="fa-solid fa-chevron-left "></i>
        </button>
        
        <button type="button" (click)="swiperHelper.goToNextSlide()" class="btn-navigation btn-navigation-next"
            [class.opacity-0]="swiperHelper?.atCarouselEnd()|| !swiperHelper.isHoveredOverCarousel">
            <i class="fa-solid fa-chevron-right"></i>
        </button>

    </section>
</main>