<!-- Reusable series grid -->
<ng-template #seriesGrid>
    @for (chunk of chunks(); track slideExpansion.trackByChunk(chunk)) {
        <div 
          class="flex justify-start overflow-x-auto hide-scrollbar scroll-smooth" @fade
          [style.gap.px]="slidesInfo.layout().spaceBetween"
          [style.padding-left.px]="slidesInfo.layout().peekSize"
          [style.padding-right.px]="slidesInfo.layout().peekSize" #container>
          
          @for (serie of chunk; track serie.id) {
            <app-card-serie 
              [serie]="serie" 
              [slideInfo]="slidesInfo"
              (hoverEnter)="slideExpansion.adjustTranslateForExpandedSlide($event, slidesInfo, 0)"
              (hoverLeave)="slideExpansion.restoreBaseTranslate()"
              @fade>
            </app-card-serie>
          }

          <!-- Space for expanded card -->
          <div class="shrink-0" [style.width.px]="slidesInfo.layout().expandedSlideSize"></div>
        </div>
      }

     <!--  @if(loader.isFetchingMoreData()){
        <app-carousel-series-skeleton [hasHeader]="false" @fade></app-carousel-series-skeleton>
      } -->
</ng-template>

<!-- Initial loading state -->
@if(loader.isInitialized()){
   <app-carousel-series-skeleton [hasHeader]="false" @fade></app-carousel-series-skeleton>
}

<!-- Mode: Infinite Scroll -->
@if(type()==='scroll' &&  loader.hasData()){
  <section 
    role="feed"
    aria-label="Series populares"
    [attr.aria-busy]="isFetchingMoreData()"
    class="flex flex-col mb-16" 
    [style.gap.px]="slidesInfo.layout().spaceBetween"
    >

    <ng-container *ngTemplateOutlet="seriesGrid"></ng-container>
  
  </section>
}

<!-- Mode: manual (with button) -->
@else if((type() ==='series' || type() ==='all') && loader.hasData() ){
  <section 
    role="region"
    aria-label="Series buscadas"
    aria-live="polite"
    aria-labelledby="series-header"
    @fade>

    <header id="series-header" class="mb-2">
        <h2 class="text-title-carousel">  Series  </h2>
    </header>
        
    <div class="flex flex-col mb-16" 
    [style.gap.px]="slidesInfo.layout().spaceBetween">
        <ng-container *ngTemplateOutlet="seriesGrid"></ng-container>
    </div> 

    @if(canLoadMore()){
        <button aria-label="Cargar más series" class="btn-primary" 
            (click)="loadMoreData({query:searchQuery()})">
            Cargar mas series
        </button>
    }
  </section>
}