<main appBackgroundNavScroll>

    <div class="relative w-full h-screen">

        <img [ngSrc]="serie()?.backdrop_path | autoImage : 'backdrop-square'" fill loading="lazy"
            class="object-cover object-center gradient opacity-30">

        <div class="relative h-full container  px-4 md:px-24 flex flex-col justify-end pb-8">
            <div class="flex flex-col md:flex-row gap-8 items-end">
                <!-- Poster (Hidden on mobile, visible on tablet+) -->
                <figure class="hidden md:block w-[240px] shrink-0 rounded-xl overflow-hidden aspect-[2/3]
                    shadow-2xl shadow-[#e50914]/20 border border-white/10 transform  z-10">
                    <img [ngSrc]="serie()?.poster_path | autoImage : 'backdrop-square'" fill loading="lazy"
                        class=" bg-cover bg-center">
                </figure>

                <!-- Text Content -->
                <div class="flex flex-col gap-4  z-10">

                    <!-- Meta Info Row -->
                    <span class="flex flex-wrap items-center gap-2 text-[#e50914] font-normal text-sm  tracking-wider">

                         <span class="w-1 h-1 bg-white/30 rounded-full"></span>
                        {{serie()?.first_air_date|date:'yyyy'}} -  {{serie()?.last_air_date|date:'yyyy'}}

                        <span class="w-1 h-1 bg-white/30 rounded-full"></span>
                        {{serie()?.number_of_seasons}} Temporadas {{serie()?.number_of_episodes}} Episodios 

                    </span>
                    <!-- Title -->
                    <h1
                        class="text-white text-5xl md:text-6xl lg:text-7xl font-black leading-tight tracking-[-0.033em] drop-shadow-lg">
                        {{serie()?.name}}
                    </h1>

                    <p
                        class="text-gray-300 text-base md:text-lg leading-relaxed line-clamp-3 md:line-clamp-none max-w-3xl drop-shadow-md">
                        {{serie()?.tagline}}
                    </p>

                    <!-- Genre Chips -->
                    <div class="flex gap-2 flex-wrap my-2">
                        @for(genre of serie()?.genres;track genre.id){
                        <div class="flex h-6 items-center justify-center px-4 rounded-full border border-white/15">
                            <span class="text-[#e5e2e1]/60 text-[10px] font-bold tracking-[0.2em] uppercase ">
                                {{ genre.name }}
                            </span>
                        </div>
                        }
                    </div>

                    <div class="flex flex-wrap items-center gap-6 ">
                        <button class="btn-glossy text-white flex items-center gap-3 px-10
                             py-4 rounded-xl font-extrabold tracking-widest text-sm transition-all 
                             duration-300 hover:scale-105 active:scale-95 shadow-2xl shadow-[#e50914]/40 group">
                            <app-icon name="play" size="w-6 h-6"></app-icon>
                            VER AHORA
                        </button>
                        <button class="glass-panel border-white/20 text-[#e5e2e1] flex items-center gap-3 
                            px-10 py-4 rounded-xl font-extrabold tracking-widest text-sm transition-all 
                            duration-300 hover:!bg-white/10 active:scale-95">
                            ADD TO LIST
                        </button>
                        <div class="flex flex-col ml-6 border-l border-white/10 pl-8">
                            <div class="flex items-center gap-1.5 mb-1">
                                <app-icon name="star" color="text-[#e50914]" backgroundColor="fill-[#e50914]">
                                </app-icon>
                                <span class="text-[#e5e2e1] text-xl font-black tracking-tighter">
                                    {{serie()?.vote_average | number:'1.1-1' :'en-US'}}</span>
                            </div>
                            <span class="text-[#e5e2e1]/40 text-[10px] font-bold uppercase tracking-[0.2em]">Critic
                                Rating</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-12 gap-8 px-8 md:px-24 mt-32 relative z-20 max-w-[1600px] mx-auto">
        <!-- Glass Synopsis Card -->
        <div class="lg:col-span-8">
            <div class="glass-panel  rounded-[2rem] p-10 md:p-14 " #leftPanel>
                <div class="flex items-center gap-4 mb-10">
                    <div class="w-12 h-1 bg-[#e50914] rounded-full"></div>
                    <h3 class="font-headline text-3xl font-extrabold text-[#e5e2e1] tracking-tight uppercase">
                        Synopsis</h3>
                </div>
                <p class="text-[#e5e2e1]/70 font-body leading-relaxed text-xl mb-12 font-light">
                    {{serie()?.overview}}
                </p>
                <div class="grid grid-cols-2  gap-10 border-t border-white/5 pt-12">
                    <div class="">
                        <span class="block text-[10px] font-black text-[#e50914] uppercase tracking-[0.3em] 
                            mb-2">
                            Creado por
                        </span>
                        @for(creator of serie()?.created_by;track creator.id){
                        <p class="text-[#e5e2e1] text-lg font-bold hover:text-[#e50914] 
                                transition-colors cursor-default">
                            {{creator.name}}
                        </p>
                        }

                    </div>

                    <div class="group">
                        <span
                            class="block text-[10px] font-black text-[#e50914] uppercase tracking-[0.3em] mb-2">Production</span>
                        <span class="text-[#e5e2e1] text-lg font-bold group-hover:text-[#e50914] 
                            transition-colors cursor-default">
                            {{production()?.name}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Glass Cast Card -->
        <div class="lg:col-span-4 glass-panel p-10 rounded-[2rem] flex flex-col" [style.height.px]="height()">
            <h3 class="font-headline text-2xl font-extrabold mb-10 text-[#e5e2e1] tracking-tight uppercase">
                Featured Cast</h3>
            <div class="space-y-8 overflow-y-auto " #creditsContainer>
                @for(cast of credits()?.cast;track cast){
                <div class="flex items-center gap-5 group cursor-pointer">
                    <figure
                        class="w-16 h-16 rounded-2xl overflow-hidden ring-1 relative ring-white/10 group-hover:ring-[#e50914]/50 transition-all duration-500">
                        <img [ngSrc]="cast.profile_path| autoImage : 'square'" fill class="w-full h-full object-cover group-hover:scale-110 transition-transform 
                         duration-700" />
                    </figure>
                    <div>
                        <span
                            class="block text-[#e5e2e1] font-black text-base group-hover:text-[#e50914] transition-colors">
                            {{cast.name}}</span>
                        <span class="block text-[#e5e2e1]/40 text-xs font-bold tracking-wider uppercase mt-0.5">
                            {{cast.character}}</span>
                    </div>
                </div>
                }

            </div>
        </div>
    </div>

    <!-- Seasons & Episodes -->
    <section class="pt-32 ">
        <app-details-episodes [serie]="serie()"></app-details-episodes>
    </section>

    <!-- Sophisticated Similar series Section -->
    <section class="py-32  max-w-[1600px] mx-auto overflow-hidden ">
        <div class="flex flex-col md:flex-row justify-between items-start md:items-end mb-12 gap-6 px-8 md:px-24">
            <div>
                <span class="text-[#e50914] font-black tracking-[0.4em] uppercase text-[8px] lg:text-[10px] mb-4 block">
                    Experiencia Recomendada</span>
                <h2
                    class="font-headline text-3xl md:text-4xl lg:text-5xl font-black text-[#e5e2e1] tracking-tighter uppercase">
                    Ecos cinematográficos</h2>
            </div>
            <!--  <div class="hidden gap-4 md:flex">


                <button class="w-14 h-14 rounded-full glass-panel flex items-center justify-center
                     hover:!bg-[#e50914] hover:!border-[#e50914] transition-all duration-500 group"
                    (click)="carouselService.navigation.prev()">
                    <app-icon name="arrow-left" size="w-14 h-14"></app-icon>
                </button>
                <button class="w-14 h-14 rounded-full glass-panel flex items-center justify-center 
                    hover:!bg-[#e50914] hover:!border-[#e50914] transition-all duration-500 group"
                    (click)="carouselService.navigation.next()">
                    <app-icon name="arrow-right" size="w-14 h-14"></app-icon>
                </button>
            </div> -->
        </div>

        <section class="relative">
            <app-carousel-navigation [carouselService]="carouselService"></app-carousel-navigation>
            <div class="carousel-container" cdkScrollable #carouselRecomendedSeries
                [style.gap.px]="carouselService.slidesInfo.layout().spaceBetween"
                [style.padding-left.px]="carouselService.slidesInfo.layout().peekSize"
                [style.padding-right.px]="carouselService.slidesInfo.layout().peekSize">

                @for(serie of recomendedSeriesLoader.data();track serie.id){
                <div class="group cursor-pointer carousel-item " (click)="redirect(serie.id)"
                    [style.width.px]="carouselService.slidesInfo.layout().slideMainAxisSize">
                    <div
                        class="relative aspect-[3/4.5] rounded-3xl overflow-hidden mb-6 ring-1 ring-white/5 group-hover:ring-[#e50914]/40 transition-all duration-700">
                        <img [ngSrc]="serie.poster_path | autoImage : 'poster'" fill
                            class="w-full h-full object-cover group-hover:scale-110 transition-transform duration-1000" />

                        <div
                            class="absolute inset-0 bg-gradient-to-t from-black via-transparent to-transparent opacity-80">
                        </div>
                    </div>
                    <h4 class="text-[#e5e2e1] font-black text-lg tracking-tight group-hover:text-[#e50914] 
                    transition-colors"> {{serie.name}}</h4>
                    <div class="flex items-center gap-2 mt-1">
                        <span class="text-[#e5e2e1]/40 text-[11px] font-black uppercase tracking-widest">
                            {{serie.genres[0].name}}
                        </span>
                        <span class="w-1 h-1 bg-white/20 rounded-full"></span>
                        <span class="text-[#e5e2e1]/40 text-[11px] font-black uppercase tracking-widest">
                            {{serie.first_air_date | date :'yyyy'}}
                        </span>
                    </div>
                </div>
                }


                <!-- @if(canLoadMore()){ -->
                @for(_ of carouselService.slidesInfo.skeletonSlideIndexes(); track $index) {
                <div class="carousel-item aspect-[3/4.5] rounded-3xl bg-gray-700 animate-pulse"
                    [style.width.px]="carouselService.slidesInfo.layout().slideMainAxisSize">

                </div>
                }
                <!-- } -->
            </div>
        </section>

    </section>

</main>