<app-nav-bar></app-nav-bar>

<main class="relative min-h-screen w-full  bg-[#0a0a0a]
flex flex-col justify-between">
   <div class="absolute inset-0 pointer-events-none" ></div>
      
      
    <router-outlet></router-outlet>
    <!-- <footer class="bg-black/60 backdrop-blur-sm border-t border-red-500/20 py-8 text-center">
        <h2 class="text-2xl font-bold  text-[#e50914] font-racing">
            Flick Fan
        </h2>
        <p class="text-red-200/70 mt-2">Tu plataforma de entretenimiento favorita</p>
    </footer> -->
</main>