<main appBackgroundNavScroll>
    @defer(when nowPlaying()){
        <app-banner [listMovies]="upcomingMovies" (onPlayTrailer)="playTrailer($event)"
            (requestMoreData)="api.getMoreData(this.api.getUpcoming.bind(this.api),upcomingMovies)" @fade>
        </app-banner>
    }
    @placeholder{
        <app-banner-skeleton @fade></app-banner-skeleton>
    }

    @defer(when nowPlaying()){
        <section class="flex gap-4 flex-wrap p-4 justify-center mb-16" infiniteScroll [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="300" (scrolled)="loadMoreOnScroll()">
            @for( movie of nowPlaying()?.results;track movie.id; let i=$index){
                <app-card-movie [movie]="movie"
                    class="relative z-0 w-80 transition-transform duration-300 hover:scale-125 hover:z-20"
                    [ngClass]="{'origin-left':i % numSlides==0,'origin-right':i % numSlides==numSlides-1}">
                </app-card-movie>
            }
            @if(isLoading()){
                @for(loading of skeletonsIndexes;track loading){
                    <app-card-movie-skeleton></app-card-movie-skeleton>
                }
            }
        </section>
    }@placeholder{
        <app-carousel-skeleton @fade></app-carousel-skeleton>
    }


    @defer(when player.isPlaying){
        <app-play-trailer [videoKey]="player.videoId()"></app-play-trailer>
    }
    @placeholder{
        <span></span>
    }
</main>