    @if(currentData().length===0){
          <div class="w-full">
                <app-empty 
                  title="No se han encontrado resultados" 
                  [loaders]="[loader]">
                </app-empty>
            </div>
      }

      <div class="viewport" #viewport 
          [style.gap.px]="slidesInfo.layout().spaceBetween"
          [style.padding-left.px]="slidesInfo.layout().peekSize"
          [style.padding-right.px]="slidesInfo.layout().peekSize">

          @for(data of currentData();track data.id;let index = $index){
            <div class="card group" [style.width.px]="slidesInfo.layout().slideMainAxisSize" 
            (click)="selectItem(data,index)" [ngClass]="{'card-active':selectedIndex()===index}">
              
              <figure class="relative rounded-lg overflow-hidden transition-transform duration-500 group-hover:scale-110 w-full aspect-[2/3]">
                <img [ngSrc]="data.poster_path | autoImage : 'tall'" alt=""
                  class="bg-cover bg-center rounded-lg" fill>
              </figure>

              <div
                  class="absolute inset-0 bg-gradient-to-t from-black from-20% via-transparent 
                  to-transparent opacity-80 group-hover:opacity-95 transition-opacity">
              </div>

              <div class="absolute bottom-0 left-0 p-4 w-full">
                  @if(mediaTypeSelected()?.value === 'movies'){
                    <h4 class="text-white font-bold text-sm line-clamp-2 ">{{data.title}}</h4>
                    <div class="flex items-center gap-2 text-xs text-gray-300">
                      <span class="text-green-400 font-bold">{{data.release_date | date:'yyyy'}}</span>
                    </div>
                  }@else {
                    <h4 class="text-white font-bold text-sm line-clamp-2 ">{{data.name}}</h4>
                    <div class="flex items-center gap-2 text-xs text-gray-300">
                      <span class="text-green-400 font-bold">{{data.first_air_date | date:'yyyy'}}</span>
                    </div>
                  }
                  
              </div>
            </div>
          }

          @if(canLoadMore()){
            @for(_ of slidesInfo.skeletonSlideIndexes();track $index;){
              <div class=" animate-pulse card" [style.width.px]="slidesInfo.layout().slideMainAxisSize"  #sentinel></div>
            }
          }
      </div>