@if(carouselService.dataLoaderManager.hasData()){
<main class="w-full h-screen relative mb-32" @fade>
    <div class="relative">
        <app-carousel-navigation [carouselService]="carouselService"></app-carousel-navigation>
        <div cdkScrollable #carousel class="carousel-container gradient">
            @for(movie of carouselService.dataLoaderManager.data();track $index;let i=$index){

            <div class="carousel-item w-screen h-screen relative" [attr.data-id]="movie.id">
                <app-banner-movie-details 
                    [movie]="movie" 
                    [cardIndex]="i"
                    [activeIndex]="carouselService.activeIndex()">
                </app-banner-movie-details>
            </div>
            }

            @if(carouselService.dataLoaderManager.canLoadMore()){
                <div class="carousel-item w-screen h-screen " @fade>
                  <app-banner-skeleton></app-banner-skeleton>
                </div>
            }
        </div>
    </div>
</main>
}
@else if(carouselService.dataLoaderManager.isInitialLoading()){
    <app-banner-skeleton @fade></app-banner-skeleton>
}