@if(loader.hasData()){
    <main class="w-full min-h-screen mb-16 relative" @fade>
        <div class="relative gradient overflow-hidden">
            
            <app-carousel-navigation [carouselService]="carouselService"></app-carousel-navigation>
            
            <div #carousel class="carousel-container">
                @for(movie of loader.data();track $index;let i=$index){
                   <div class="carousel-item  min-h-screen w-full" [attr.data-id]="movie.id" #slide>
                        <app-banner-movie-details @fade
                            [movie]="movie" 
                            [cardIndex]="i"
                            [activeIndex]="carouselService.state().activeIndex()"
                            (onPlayTailer)="playTrailer()">
                        </app-banner-movie-details>
                    </div>
                }

                @if(loader.canLoadMore()){
                    <div class="carousel-item w-screen h-full" @fade #sentinels>
                        <app-banner-skeleton></app-banner-skeleton>
                    </div>
                }
            </div>
        </div>
    </main>
}
@else if(loader.isInitialized()){
    <app-banner-skeleton @fade></app-banner-skeleton>
}