<!-- banner-skeleton.component.html -->
<main class="w-full animate-pulse h-screen mb-32 relative">

  <!-- Imagen de fondo simulada -->
  <section class="z-0 w-full h-screen absolute bg-black gradient">
    <div class="h-screen w-full bg-black"></div>
  </section>

  <!-- Botón izquierdo  -->
  <div class="w-12 h-12 bg-zinc-600 rounded-full absolute top-1/2 right-12"></div>

    <!-- Botón derecho -->
  <div class="w-12 h-12 bg-zinc-600 rounded-full absolute top-1/2 left-12"></div>

  <section class="flex justify-around md:py-12 relative w-full h-screen ">

    <header class="sm:max-w-[32%] px-4 relative self-center ">
      <!-- Título -->
      <div class="h-10 w-full bg-zinc-600 rounded mb-4"></div>

      <!-- Rating + Fecha + Duración -->
      <div class="flex gap-6 mb-4">
        <div class="h-6 w-24 bg-zinc-600 rounded"></div>
        <div class="h-6 w-16 bg-zinc-600 rounded"></div>
        <div class="h-6 w-20 bg-zinc-600 rounded"></div>
      </div>

      <!-- Géneros -->
      <div class="flex flex-wrap gap-2 mb-4">
        <div class="h-6 w-16 bg-zinc-600 rounded-full"></div>
        <div class="h-6 w-20 bg-zinc-600 rounded-full"></div>
        <div class="h-6 w-14 bg-zinc-600 rounded-full"></div>
      </div>

      <!-- Descripción -->
      <div class="space-y-2">
        <div class="h-4 w-full bg-zinc-600 rounded"></div>
        <div class="h-4 w-5/6 bg-zinc-600 rounded"></div>
        <div class="h-4 w-4/6 bg-zinc-600 rounded"></div>
      </div>

      <!-- Botones -->
      <div class="flex gap-4 mt-6">
        <div class="h-12 w-32 bg-zinc-600 rounded-full"></div>
        <div class="h-12 w-64 bg-zinc-600 rounded-full"></div>
      </div>
    </header>

    <!-- Ícono de play -->
    <div class="flex justify-center self-center">
      <div class="h-14 w-14 bg-zinc-600 rounded-full"></div>
    </div>
  </section>

 
</main>
