<nav class='flex items-center justify-between font-serif p-8 fixed text-white  h-12 w-full z-50 transition-all ease-in '
[ngClass]="{'bg-[rgba(22,22,23,.8)] border-b border-[hsla(0,0%,100%,.4)] backdrop-blur-xl 
    backdrop:saturate-[180%] clip-ellipse':comunicatorService.getBackgroundNav()()}">
    
    <h1 class="w-72 font-racing font-bold text-xl text-[#e50914]">Flick fan</h1>
    <i class="fa fa-bars visible md:invisible hover:text-[#e50914] hover:cursor-pointer" 
    (click)="show=!show" ></i>

    <section class="flex grow flex-col bg-black absolute -right-72 top-0 h-screen md:visible 
    md:static md:flex-row md:bg-transparent md:h-auto transition-all ease-in-out duration-500"
        [ngClass]="{'right-0':show}" >

        <ul class='flex flex-col md:flex-row justify-start md:items-center md:justify-center md:grow font-roboto'>
            <li class="md:invisible m-2 self-end">
                <i class="fa fa-xmark hover:text-[#e50914] hover:cursor-pointer" (click)="show=false"></i>
            </li>
            <li class="mx-4 my-2 hover:text-[#e50914] hover:cursor-pointer">
                <a>Inicio</a>
            </li>
            <li class="mx-4 my-2 hover:text-[#e50914] hover:cursor-pointer">
                <a>Peliculas</a>
            </li>
            <li class="mx-4 my-2 hover:text-[#e50914] hover:cursor-pointer">
                <a>Series</a>
            </li>
        </ul>

        <div class="h-10 m-4 max-w-72 lg:w-72 flex bg-neutral-900 justify-center  font-roboto
        items-center rounded-lg focus-within:bg-neutral-800 shadow-md shadow-[#e50914]">
            <i class="fas fa-search text-neutral-300 px-4 text-sm"></i>
            <input placeholder="¿Qué estas buscando?" type="text"
             class="text-neutral-300 bg-transparent grow text-sm h-10 outline-hidden
             placeholder-neutral-300">
        </div>
    </section>
</nav>