swiper-container::part(button-prev),
swiper-container::part(button-next) {
    color: white;
    height: 1rem;
    width: 1rem;
    padding: .5rem;
    background-color: rgba(0,5,13,.5);
    transition: all cubic-bezier(0.4, 0, 1, 1) 0.3s;
    border-radius: 100%;
}

swiper-container::part(button-prev):hover,
swiper-container::part(button-next):hover {
    transform: scale(1.2);

}


swiper-container::part(container){
    overflow-y: visible;
    overflow-x: clip;
    padding: 0rem .5rem;
}

