@if(loader.hasData()){
    <main class=" w-full mb-16">
        <header class="mb-6 " [style.padding-left.px]="carouselService.slidesInfo.layout().peekSize">
            <h2 class="text-title-carousel">
                 <span class="w-1 h-6 bg-[#f20d0d] rounded-full"></span> 
                {{title()}}</h2>
        </header>

        <section 
            [attr.aria-label]="title() + ' carousel'" 
            role="region" 
            class=" relative"
            [style.z-index]="zIndex()">
            
           <app-carousel-navigation [carouselService]="carouselService"> </app-carousel-navigation>
           
            <div cdkScrollable class="carousel-container show-overflow" #carousel
                [style.gap.px]="carouselService.slidesInfo.layout().spaceBetween"
                [style.padding-left.px]="carouselService.slidesInfo.layout().peekSize"
                [style.padding-right.px]="carouselService.slidesInfo.layout().peekSize">

                @for(movie of loader.data();track movie.id; let i = $index;){
                    <div [ngClass]="cardClasses()[i]"
                        [class.pointer-events-none]="!slideExpansion.canExpand(
                            carouselService.state().activeIndex(),i,carouselService.slidesInfo.layout().slidesPerView)"
                        class="carousel-item card-base h-full" 
                        [style.width.px]="carouselService.slidesInfo.layout().slideMainAxisSize" @fade #slide>
                        <app-card-movie [movie]="movie"> </app-card-movie>
                    </div>
                }

                @if(canLoadMore()){
                    @for(_ of carouselService.slidesInfo.skeletonSlideIndexes(); track $index) {
                        <div class="carousel-item" 
                            [style.width.px]="carouselService.slidesInfo.layout().slideMainAxisSize"  @fade>
                            <app-carousel-movies-skeleton 
                                [hasHeader]="false" 
                                [insideCarousel]="true">
                            </app-carousel-movies-skeleton>
                        </div>
                    }
                }

            </div>

        </section>
        
    </main>
}
@else if(loader.isInitialized()){
 <app-carousel-movies-skeleton @fade></app-carousel-movies-skeleton>
}



