 @if( swiperHelper.hasData()){
    <!-- Contenedor principal del carousel -->
    <main class=" w-full mb-12" >
        <!-- Encabezado del carousel -->
         <header class="mb-2" [style.padding.px]="slides.fullPadding()">
             <h2 class="text-title-carousel">{{title()}}</h2>
         </header>

          <!-- Contenido del carousel -->
         <section class="relative">
             <swiper-container 
                 [attr.aria-label]="title() + ' carousel'"
                 role="region"
                 init="false" 
                 class="w-full h-80  z-0 relative" 
                 [style.z-index]="zIndex()" #swiper>

                  <!-- Renderizado de cada película -->
                 @for(movie of swiperHelper.data();track movie.id;let i = $index;){
                    <swiper-slide class="w-80 overflow-visible" @fade>
                        <app-card-movie 
                            [movie]="movie" 
                            [class]="cardClasses()[i]">
                        </app-card-movie>
                    </swiper-slide>
                 }

                 <!-- Esqueleto de carga mientras se cargan más datos -->
                 @if(swiperHelper.isFetchingMoreData()){
                     <swiper-slide @fade>
                         <app-carousel-skeleton 
                             [slides]="slides" 
                             [hasHeader]="false" 
                             [insideCarousel]="true">
                         </app-carousel-skeleton>
                     </swiper-slide>
                 }
             </swiper-container>
            <!-- Navegación del carousel -->
             <app-carousel-navigation [swiperHelper]="swiperHelper"></app-carousel-navigation>

         </section>
    </main>
}@else{
    <!-- Esqueleto de carga mientras se cargan los datos iniciales -->
    <app-carousel-skeleton [slides]="slides" @fade></app-carousel-skeleton>
}