    @if(data().length===0){
          <div class="w-full p-6">
                <app-empty 
                  title="No se han encontrado resultados con el filtro especificado" 
                  [loaders]="[loader]">
                </app-empty>
            </div>
      }

      <div class="viewport my-scroll " #viewport>
          @for(movie of data();track movie.id;let index = $index){
            <div class="card group" (click)="selectMovie(movie,index)"
            [ngClass]="{'card-active':selectedIndex()===index}">
              
              <figure class="relative rounded-lg overflow-hidden transition-transform duration-500 group-hover:scale-110 w-full aspect-[2/3]">
                <img [ngSrc]="movie.poster_path | autoImage : 'tall'" alt=""
                  class="bg-cover bg-center rounded-lg" fill>
              </figure>

              <div
                  class="absolute inset-0 bg-gradient-to-t from-black from-20% via-transparent 
                  to-transparent opacity-80 group-hover:opacity-95 transition-opacity">
              </div>

              <div class="absolute bottom-0 left-0 p-4 w-full">
                  <h4 class="text-white font-bold text-sm line-clamp-2 ">{{movie.title}}</h4>
                  <div class="flex items-center gap-2 text-xs text-gray-300">
                      <span class="text-green-400 font-bold">{{movie.release_date | date:'yyyy'}}</span>
                  </div>
              </div>
            </div>
          }

          @for(_ of [1,2,3,4];track $index;){
            <div class=" bg-black/20 w-full aspect-[2/3]" #sentinel></div>
          }
      </div>