
@if(dataLoaderManager.hasData()){
    <section 
        role="feed"
        aria-label="Películas en cartelera"
        aria-live="polite"
        [attr.aria-busy]="dataLoaderManager.isFetchingMoreData()"
        class="flex flex-wrap justify-center mb-16" 
        [style.gap.px]="slides.spaceBetween()"
        infiniteScroll 
        [infiniteScrollDistance]="scrollConfig.SCROLL_CONFIG.distance" 
        [infiniteScrollThrottle]="scrollConfig.SCROLL_CONFIG.throttle"
        (scrolled)="dataLoaderManager.loadMoreData()" @fade>

        @for( movie of dataLoaderManager.data() ;track movie.id; let i=$index){
            <app-card-movie 
                [movie]="movie"
                class="card-base"
                [class]="cardClasses()[i]" @fade>
            </app-card-movie>
        }
            
        @if(dataLoaderManager.isFetchingMoreData()){
            <ng-container *ngTemplateOutlet="skeletonTemplate"></ng-container>
        }
    </section>
}@else{
    <ng-container *ngTemplateOutlet="skeletonTemplate"></ng-container>
}

<ng-template #skeletonTemplate>
  <div role="status" aria-live="assertive" class="w-full">
    <app-carousel-skeleton [slides]="slides" [hasHeader]="false" @fade></app-carousel-skeleton>
  </div>
</ng-template>