<main class="w-full h-full ">

    <section class="z-0 w-full h-[150vh] justify-center self-center absolute ">
        <swiper-container init="false" #swiper>
            @for(movie of listMovies()()?.results;track movie?.id){
            <swiper-slide
                class="w-full h-screen relative after:w-full 
                after:absolute after:top-0 after:h-screen after:bg-linear-to-r after:from-[rgba(15,15,15,1)] 
                after:from-35% after:via-[rgba(15,15,15,.9)] after:via-50% after:to-[rgba(83,200,141,0)] after:to-100% "
                @fade>
                <img ngSrc="{{'http://image.tmdb.org/t/p/original'+movie.backdrop_path}}" fill #img
                    class="object-cover object-center gradient">
            </swiper-slide>
            }

            @if(isLoading()){
            <swiper-slide class="w-full h-full">
                <app-loading @fade></app-loading>
            </swiper-slide>
            }
        </swiper-container>
    </section>

    <section class="text-white flex flex-wrap flex-row md:py-12 relative w-full h-screen mb-24 pl-12">

        <button class="w-8 self-center" [hidden]="isBeginning()">
            <i class="fa-solid fa-chevron-left  hover:cursor-pointer rounded-full
        text-center text-base transition-all ease-in hover:text-xl swiper-previous"></i>
        </button>

        @if(movie()){
        <header class="sm:max-w-[40%] px-4 md:px-12 relative self-center ml-12" [class.ml-20]="isBeginning()">
            <h1 class="font-racing uppercase text-3xl text-left sm:text-4xl lg:text-5xl relative" id="title">
                {{movie()?.title}}
            </h1>
            <app-rating class="flex pt-4 left-[-150%] font-roboto" [rating]="movie()?.vote_average"
                id="rating"></app-rating>

            <p class="font-roboto pt-2 text-justify max-h-[20vh] line-clamp-5" id="overview">{{movie()?.overview}}
            </p>

            <article class="flex pt-4 font-serif " id="genres">
                <p class="text-[#e50914] pr-4">Generos </p>
                @for(genre of movie()?.genres;track genre){
                <p class="px-2">{{genre.name}}</p>
                }
            </article>

            <article class="flex py-2 font-roboto" id="release">
                <p class="text-[#e50914] pr-4">Fecha de publicación </p>
                <p class="px-2">{{movie()?.release_date|date:'longDate'}}</p>
            </article>
            <section class="flex justify-start " id="buttons">
                <button class="bg-[#f80000] p-2 px-4 rounded-md font-racing text-lg mr-4 my-4
                hover:shadow-md hover:shadow-white transition-all ease-in cursor-pointer" (click)="playTrailer()"
                    [ngClass]="{'bg-zinc-800 pointer-events-none':movie()?.videos?.results?.length==0}">
                    <i class="fa-solid fa-play"></i>&nbsp; &nbsp;Trailer
                </button>
                <button class="bg-white text-[#f80000] p-2 px-4 rounded-md font-racing text-lg ml-4 my-4
                hover:shadow-md hover:shadow-[#f80000] transition-all ease-in cursor-pointer">
                    <i class="fa-regular fa-bookmark"></i>&nbsp; &nbsp;Lista
                </button>
            </section>
        </header>

        <div class="grow text-center self-center">
            <a routerLink="/watch-movie/{{movie()?.id}}">
                <i class="fa-regular fa-circle-play text-6xl transition-all ease-in-out duration-300
            self-center hover:text-[#e50914] hover:cursor-pointer"
                    style=" text-shadow:0 0 20px rgba(255,255,255,0.8)"></i>
            </a>

        </div>
        }

        <button class="m-12 w-8 self-center  text-right" [hidden]="isEnd()">
            <i class="fa-solid fa-chevron-right hover:cursor-pointer rounded-full 
        text-center text-base transition-all ease-in hover:text-xl swiper-next"></i>
        </button>

    </section>

</main>