.ytp-watermark {
    display: none !important;
}

.ytp-chrome-top,
.ytp-title,
.ytp-title-text {
    display: none !important;
}

 .ytp-gradient-top {
            display: none !important;
        }

        /* Ocultar información del canal */
        .ytp-ce-channel-title,
        .ytp-ce-video-title {
            display: none !important;
        }