<div class="absolute top-0 rounded-t-md z-10 cursor-pointer overflow-hidden w-80 h-48" 
(click)="redirectDetailsMovie(id)">
  
 <youtube-player [videoId]="videoID" [height]="192" [width]="320" [playerVars]="playerVars"
    (stateChange)="onStateChange($event)" class="pointer-events-none w-80 h-48">
  </youtube-player>

  <i class=" fa solid cursor-pointer hover:scale-110 rounded-full bg-neutral-800/80 
                    text-white p-3 w-10 h-10 mr-1.5 transition-transform duration-300 hover:bg-white 
                    hover:text-black absolute z-20 bottom-2 right-[3%]" (click)="changeMuted($event)"
    [ngClass]="{'fa-volume-xmark':mutedState, 'fa-volume-high':!mutedState}"></i>
</div>