<button type="button" aria-label="Diapositiva anterior" (click)="carouselService().prev()"
    class="btn-navigation "
    [ngClass]="{
        'btn-navigation-horizontal-prev':direcction()==='horizontal',
        'btn-navigation-vertical-prev':direcction()==='vertical'
    }"
    [disabled]="carouselService().isAtStart() || !carouselService().isHoveredOverCarousel()">
    <i 
        class="fa-solid" 
        [ngClass]="{
            'fa-chevron-left':direcction()==='horizontal',
            'fa-chevron-up ':direcction()==='vertical'
        }"
        aria-hidden="true">
    </i>
</button>

<button type="button" aria-label="Diapositiva siguiente" (click)="carouselService().next()"
    class="btn-navigation"
    [ngClass]="{
        'btn-navigation-horizontal-next':direcction()==='horizontal',
        'btn-navigation-vertical-next':direcction()==='vertical'
    }"
    [disabled]="carouselService().isAtEnd() || !carouselService().isHoveredOverCarousel()">
    <i 
        class="fa-solid" 
        [ngClass]="{
            'fa-chevron-right':direcction()==='horizontal',
            'fa-chevron-down':direcction()==='vertical'
        }"
        aria-hidden="true">
    </i>
</button>
