<button type="button" aria-label="Diapositiva anterior" (click)="carouselService().navigation.prev()"
    class="btn-navigation "
    [ngClass]="{
        'btn-navigation-horizontal-prev':carouselService().slidesInfo.direction()==='horizontal',
        'btn-navigation-vertical-prev':carouselService().slidesInfo.direction()==='vertical'
    }"
    [disabled]="carouselService().state().isAtStart() || !carouselService().isHoveredOverCarousel()">
    <i 
        class="fa-solid" 
        [ngClass]="{
            'fa-chevron-left':carouselService().slidesInfo.direction() ==='horizontal',
            'fa-chevron-up ':carouselService().slidesInfo.direction()==='vertical'
        }"
        aria-hidden="true">
    </i>
</button>

<button type="button" aria-label="Diapositiva siguiente" (click)="carouselService().navigation.next()"
    class="btn-navigation"
    [ngClass]="{
        'btn-navigation-horizontal-next':carouselService().slidesInfo.direction()==='horizontal',
        'btn-navigation-vertical-next':carouselService().slidesInfo.direction()==='vertical'
    }"
    [disabled]="carouselService().state().isAtEnd() || !carouselService().isHoveredOverCarousel()">
    <i 
        class="fa-solid" 
        [ngClass]="{
            'fa-chevron-right':carouselService().slidesInfo.direction()==='horizontal',
            'fa-chevron-down':carouselService().slidesInfo.direction()==='vertical'
        }"
        aria-hidden="true">
    </i>
</button>
