
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: 'racing sans one';
        src: url('./assets/fonts/racing-sans-one/RacingSansOne-Regular.ttf')
      }
}
@layer components{
  .clip-ellipse{
    clip-path: ellipse(300% 100% at top);
  }
}
