@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body,
html {
  scroll-behavior: smooth;
  background-color: #0f0f0f;
}

.gradient {
  mask-image: linear-gradient(black 80%, transparent)
}

.gradient-top {
  mask-image: linear-gradient(transparent 0%, black 20%,black 80%, transparent 100%)
}

/* -------------------- CONTAINERS -------------------- */
.overlay{
   @apply w-full absolute top-0 h-full bg-gradient-to-r from-black 
          from-15% via-[rgba(15,15,15,.9)] via-50% to-[rgba(83,200,141,0)] 
          to-100% 
}

/* -------------------- CARDS -------------------- */

.card-base {
  @apply relative z-0  transition-transform duration-300 hover:scale-[1.15] hover:z-10 will-change-transform;
  
}
.card-base.is-active{
  @apply origin-left
}

.card-base.is-last{
  @apply origin-right
}

.card-base-revert-scale{
  @apply group-hover:scale-[0.869565]
}

/* -------------------- BOTONES -------------------- */
.btn-primary {
  @apply rounded-full transition-all duration-100 font-racing bg-white/5 backdrop-blur-sm text-sm 
  flex justify-center items-center gap-2 sm:gap-2.5 sm:text-base;
}

.btn-primary:disabled{
  @apply pointer-events-none opacity-50 cursor-default;
}

.btn-primary:hover{
  @apply from-red-700 to-red-900 shadow-lg shadow-red-500/25 outline outline-2 bg-transparent;
}


.btn-secondary {
  @apply p-2 bg-gray-800 text-white rounded-lg transition-all duration-300 hover:bg-red-700;
}

.btn-icon {
  @apply flex items-center justify-center w-10 h-10 bg-gray-800 text-white rounded-lg transition-all duration-300 hover:bg-red-700;
}


/* -------------------- BADGES / LABELS -------------------- */
.badge-vote {
  @apply absolute top-4 right-4 bg-black/80 backdrop-blur-sm rounded-full px-3 py-1 flex items-center 
    gap-1 border border-red-900/30;
}

.badge-text {
  @apply font-semibold text-white text-sm;
}

/* -------------------- TYPOGRAFÍA -------------------- */

.text-title{
  @apply text-5xl font-bold inline-block text-white mb-4 tracking-tight bg-gradient-to-r from-red-500 to-red-300 bg-clip-text text-transparent
}
.text-title-carousel{
@apply text-white text-2xl font-bold mb-6 flex items-center gap-2
}
/* .text-title-carousel {
  @apply text-2xl sm:text-3xl font-bold inline-block relative bg-gradient-to-r from-red-500 to-red-300 bg-clip-text 
  text-transparent after:h-1 after:w-3/5 after:bg-gradient-to-r after:from-red-500 after:to-red-300 
  after:rounded-full after:absolute after:bottom-0 after:left-0 pb-2 
} */

.text-title-card {
  @apply text-white font-medium text-base line-clamp-1 group-hover:text-[14px];;
}

.text-genre-card {
  @apply text-red-400 text-sm font-light group-hover:text-[12px];
}

.text-info-card {
  @apply text-gray-400 text-sm font-light group-hover:text-[12px];
}

.text-overview-card {
  @apply text-gray-300 text-[12px] line-clamp-3;
}

/* -------------------- TRAILER -------------------- */
.trailer-overlay {
  @apply transition-all duration-300 ease-in-out w-screen h-screen !pointer-events-none
}

.frame-container{
  @apply w-screen min-h-screen relative flex justify-center items-center box-border
}
.player-frame {
  @apply relative shadow-xl z-10 w-full aspect-video pointer-events-auto ;
}
.player-frame-transition{
  @apply transition-all duration-300 ease-in-out
}

.player-frame--normal {
  @apply inset-0 m-auto w-[70vw];
}

.player-frame--normal app-trailer {
  @apply w-full h-full block
}

.player-frame--mini {
  @apply absolute bottom-5 right-5 w-96 cursor-pointer z-50 ;
}

.player-frame--mini app-trailer {
  @apply w-full h-full block
}

.frame-player-buttons{
  @apply absolute top-2 right-2 flex gap-1 z-10;
}

.player-button{
  @apply bg-black/60 text-neutral-300 rounded px-2 py-1 text-sm transition-all;
  @apply hover:scale-110 hover:cursor-pointer
}

.player {
  @apply absolute top-0 right-0 bottom-0 left-0 w-full h-full bg-black
}

.backdrop-hidden{
  @apply  hidden pointer-events-none !important
}
app-trailer youtube-player-placeholder {
  @apply w-full h-full !important
}
app-trailer youtube-player>div{
  @apply block w-full h-full !important;
}
app-trailer youtube-player>div>iframe {
  @apply block w-full h-full !important;
}

.trailer-fade {
  @apply opacity-0
}

.trailer-fade.show {
  @apply opacity-100 transition-opacity duration-500 ease-in delay-[2s]
}


/* -------------------- CAROUSEL -------------------- */

.embla {
    @apply overflow-hidden relative;
}

.embla__viewport {
  @apply overflow-hidden;   
}

.embla__container{
    @apply flex
}

.embla__slide {
    @apply flex-none relative
}

.carousel-container{
    @apply flex overflow-auto w-auto h-full transition-transform duration-500 ease-in-out;
    scrollbar-width: none
}

.carousel-item {
    @apply flex-shrink-0 relative;
}

