<main class="w-full h-full ">


    <section class="flex flex-wrap  relative w-full h-screen mb-24">

        <button class="m-12 w-8 self-center">
            <i class="fa-solid fa-chevron-left text-neutral-800 animate-pulse"></i>
        </button>

        <header class="px-12 relative self-center w-[60%]">
            <h1 class="w-96 h-2 bg-neutral-800 rounded-full animate-pulse"> </h1>

            <p class="mt-10 w-80 h-2 bg-neutral-800 rounded-full animate-pulse"> </p>
            <p class="mt-4 w-64 h-2 bg-neutral-800 rounded-full animate-pulse"> </p>
            <p class="mt-4 w-40 h-2 bg-neutral-800 rounded-full animate-pulse"> </p>
            <p class="mt-4 w-56 h-2 bg-neutral-800 rounded-full animate-pulse"> </p>
            <p class="mt-4 w-80 h-2 bg-neutral-800 rounded-full animate-pulse"> </p>

            <article class="flex pt-4 gap-4">
                <p class="mt-4 w-24 h-2 bg-neutral-800 rounded-full animate-pulse"> </p>
                <p class="mt-4 w-56 h-2 bg-neutral-800 rounded-full animate-pulse"> </p>

            </article>

            <article class="flex py-2 gap-4">
                 <p class="mt-4 w-36 h-2 bg-neutral-800 rounded-full animate-pulse"> </p>
                <p class="mt-4 w-52 h-2 bg-neutral-800 rounded-full animate-pulse"> </p>
            </article>
            <section class="flex justify-start mt-4 gap-4">
                <button class="bg-neutral-800 w-32 h-12 rounded-md animate-pulse"></button>
                <button class="bg-neutral-800 w-32 h-12 rounded-md animate-pulse"></button>
            </section>
        </header>

        <div class="grow text-center self-center">
            <p class="w-16 h-16 rounded-full bg-neutral-800 animate-pulse"> </p>

        </div>


        <div class="m-12 w-8 self-center  text-right">
            <i class="fa-solid fa-chevron-right text-neutral-800 animate-pulse"></i>
        </div>

    </section>

</main>