<main appBackgroundNavScroll>
    @defer(when nowPlaying()){
        <app-banner [listMovies]="nowPlaying" (onPlayTrailer)="playTrailer($event)" 
        (requestMoreData)="api.getMoreData(this.api.getNowPlaying.bind(this.api),nowPlaying)" @fade></app-banner>
    }
    @placeholder{
        <app-banner-skeleton @fade></app-banner-skeleton>
    }

    @defer(when popularMovies()){
        <app-carousel @fade [listMovies]="popularMovies" title="Películas populares" [importance]="3" id="popularMovies"
            (onPlayTrailer)="playTrailer($event)" (requestMoreData)="api.getMoreData(this.api.getPopular.bind(this.api),popularMovies)">
        </app-carousel>
    } @placeholder{
        <app-carousel-skeleton @fade ></app-carousel-skeleton>
    }
    
    @defer(when upcomingMovies() ){
        <app-carousel @fade [listMovies]="upcomingMovies" title="Películas recientes" [importance]="2" id="upComingMovies"
            (onPlayTrailer)="playTrailer($event)" (requestMoreData)="api.getMoreData(this.api.getUpcoming.bind(this.api),upcomingMovies)">
        </app-carousel>

    } @placeholder{
        <app-carousel-skeleton @fade ></app-carousel-skeleton>
    }
    

    @defer(when airingToday()){
        <app-banner-series [listSeries]="airingToday" 
        (requestMoreData)="api.getMoreData(this.api.getAiringTodaySeries.bind(this.api),airingToday)" @fade>
        </app-banner-series>
    }@placeholder{
        <app-skeleton [hasSlides]="true" @fade></app-skeleton>
    }
    @defer(when onTheAir()){
        <app-carousel-series [listSeries]="onTheAir" id="onTheAirSeries" title="Series al aire"
        (requestMoreData)="api.getMoreData(this.api.getOnTheAirSeries.bind(this.api),onTheAir)">
        </app-carousel-series>
    } @placeholder{
        <app-carousel-series-skeleton @fade></app-carousel-series-skeleton>
    }

    @defer(when popularSeries() ){
        <app-carousel-series [listSeries]="popularSeries" id="popularSeries" title="Series populares"
        (requestMoreData)="api.getMoreData(this.api.getPopularSeries.bind(this.api),popularSeries)">
        </app-carousel-series>
    }@placeholder{
    <app-carousel-series-skeleton @fade></app-carousel-series-skeleton>
    }

    @defer(when player.isPlaying){
        <app-play-trailer [videoKey]="player.videoId()"></app-play-trailer>
    }
    @placeholder{
        <span></span>
    } 
</main>